.app-left-block {
  min-height: calc(100vh - 28px);
}

.nav-tabs{
  border: none;
}
.nav-tabs .nav-link{
  background: none;
  color: #999;
  border: none;
}
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  background: none;
  border: none;
  color: #999;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #000;
  border: none;
  background: none;
  border-bottom: 2px solid #000;
}